/* cada navegador tem seu padrão de margin e padding, logo,
se efetuar um site em um navegador, ele pode, apresentar
outro resultado*/

/* CSS criar regras que tornem seu site identico 
independente de navegador*/

/* criar var */
:root {
  --red: #E50914;
  --black: #141414;
}

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  /* limite de tamanho é a border da caixa*/
  box-sizing: border-box;
}

body {
  background: var(--black);
  font-family: 'Arial', Times, serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--red);
  font-family: 'Arial Black', Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

header nav a:hover {
  color: #FFF;
}

/* BEGIN filme main */
.filme-principal {
  font-size: 16px;
  /* linear-gradient serve para criar uma tonalidade de cor, para facilitar a leitura de texto em img, ( outras coisas tmb ) */
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)100%),url('../img/capa-house.jpg');

  height: 400px;
  background-size: cover; /* area cobertura container */

  display: flex;
  flex-direction: column;
  justify-content: center; /* this prop sempre segue a direção do flex*/
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 90px;
}

.filme-principal #titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  color: white;
  padding: 15px 30px;/* 15 is top and bottom | 30 is left and right */
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  /* cuida da transição entre uma animação a outra */
  transition: ease 1s;
}

.botao:hover {
  background-color: white;
  color: black;
} 

.botao i {
  margin-right: 5px;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}
/* END filme main */

/* size of img */
.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carrosel-filmes {
  margin-top: 5px;
}